{% extends 'base.html.twig' %}

{% block title %}
	{{conference}}
{% endblock %}

{% block body %}
	<div class="comment-show">
		<div class="display-comment">
			<h4 class="conference">{{ conference }}
				Conference</h4>

			{% if comments|length > 0 %}
				{{comments|length}}
				Commentaires
				{% for comment in comments %}
					{% if comment.photofilename %}
						<img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
					{% endif %}

					<h6>{{ comment.author }}</h6>
					<small>
						{{ comment.createdAt|format_datetime('medium', 'short') }}
					</small>

					<p>{{ comment.text }}</p>
				{% endfor %}
				{% if previous >= 0 %}
					<a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Retour</a>
				{% endif %}
				{% if next < comments|length %}
					<a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Suivant</a>
				{% endif %}
			{% else %}
				<div class="comments">Aucun commentaire pour l'istant !</div>
			{% endif %}
		</div>
		<div class="form-comment">
			<h4 class="title-comment">Ajouter un commentaire</h4>
			<div class="form">
				{{form(form)}}
				</div>

			</div>

		</div>
	{% endblock %}
