{% extends 'base.html.twig' %}

{% block title %}
	{{conference}}
{% endblock %}

{% block body %}
	<h2>{{ conference }}
		Conference</h2>

	{% if comments|length > 0 %}
		{{comments|length}}
		Commentaires
		{% for comment in comments %}
			{% if comment.photofilename %}
				<img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
			{% endif %}

			<h4>{{ comment.author }}</h4>
			<small>
				{{ comment.createdAt|format_datetime('medium', 'short') }}
			</small>

			<p>{{ comment.text }}</p>
		{% endfor %}
		{% if previous >= 0 %}
			<a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Retour</a>
		{% endif %}
		{% if next < comments|length %}
			<a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Suivant</a>
		{% endif %}
	{% else %}
		<div>No comments have been posted yet for this conference.</div>
	{% endif %}
	<h3>Ajouter un commentaire</h3>
	<div>
		{{form(form)}}
		</div>
	{% endblock %}
